*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/datareactcommon
/datareact/publish.properties

datareact/build
datareactdemo/build

datareact/.classpath
datareact/report


